* {
	
}

h1 {
	color: red;
	font-size: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 2px 2px 8px black;
}


body {
	background: url("./images/rok_crowd.jpg") no-repeat;
	background-size: cover;
}

.keys {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	line-height: 20px;
}


.key {
	color: red;
	font-size: 30px;	
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border: 4px solid red;
	border-radius: 5px;
	display: inline-block;
	width: 70px;
	margin: .5rem;
	box-shadow: 1px 1px 10px #8B008B;		
	transition: all 0.09s ease;
}

.playing {
	transform: scale(1.3);
	border-color: #8B008B;
	box-shadow: 0 0 10px blue;
}













